body {
  background-color: #f8f9fa;
}

.container {
  padding-top: 50px;
}

.form-label {
  font-weight: bold;
}

.btn {
  width: 100%;
}
.background{
  background-color: rgb(219, 235, 235);
  height: 100vh;
}
.bordered{
  border: 2px solid rgb(51, 204, 199);
  border-radius: 10px;
  
}
